@charset "utf-8";

.business_header{background:#000; color:#fff; padding:15px;}
.business_header .business_map{text-align:right; padding:10px 0;}
.business_header .business_map > span{font-size:13px;}
.business_header .business{text-align:center;}
.business_header .business  > h2{display:inline-block; padding:20px 0; font-size:32px; color:#494949;}
.business_header .business  > p{display:inline-block; font-size:12px; color:#6e6e6e;}
.business_header .business .business_nav{padding:10px 0 30px;}
.business_header .business .business_nav > a{display:inline-block; width:8%; height:30px; background:#e8e8e8; color:black;line-height:30px; font-weight:bold;}
.business_header .business .business_nav .active{background:red; color:white;}
.business_header .business .business_nav > a:hover{opacity:0.8}

#business_section .business_main{padding:30px 0 30px; border-bottom:1px solid #333;}
#business_section .business_main h3{font-size:32px; color:#494949; display:inline-block;}
#business_section .business_main > p{font-size:12px; color:#494949; display:inline-block;}
#business_section .business_intro{padding:20px; margin:10px 0; background:#f9f9f9;}
#business_section .business_intro span{font-size:20px; color:#333;}
#business_section .business_intro2{margin:15px 0;}
#business_section .business_intro2 > p{color:#777; font-size:14px;}

#business_section .biz_content{border:1px solid #ddd; border-radius:5px; margin:20px 0; box-shadow:3px 3px 3px #f5f5f5;}
#business_section .biz_content h3{font-size:24px; color:#333; background:#f5f5f5; padding:10px 15px;
    border-bottom:1px solid #ddd;}
#business_section .biz_content > p{font-size:14px; color:#777; padding:27px 15px 27px 15px;}
#business_section .biz_content ul li{border-top:1px solid #ddd; padding:10px 15px;}
#business_section .biz_content ul li > h4{font-size:21px; color:#a94442;}
#business_section .biz_content ul li > p{font-size:17.85px; color:#333;}

