@charset "utf-8";
@import url(reset.css);
@import url(common.css);

.slide_outer{height:450px; position:relative; overflow:hidden; margin-top:-90px;}
.slide_inner > div{height:450px; background-size:cover; background-position:center; background-repeat:no-repeat; position:relative;}
.slide_inner > div:before{content:""; position:absolute; top:0; left:0; right:0; bottom:0; }
.slide_inner > div:nth-child(1){background-image:url(../images/main_metapo01.jpg); z-index:1;}
.slide_inner > div:nth-child(2){background-image:url(../images/main_metapo02.jpg)}
.slide_inner > div:nth-child(3){background-image:url(../images/main_metapo03.jpg)}
.slide_inner > div > .text{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); text-align:center;
color:white; z-index:9999;}
.slide_inner .text > h3{font-size:40.53px; margin:0 0 15px;}
.slide_inner .text > p{font-size:17.37px; margin-bottom:100px;}

.greeting_header{background:#000; color:#fff; padding:15px;}
.greeting_header .greeting_map{text-align:right; padding:10px 0;}
.greeting_header .greeting_map > span{font-size:13px;}
.greeting_header .greeting{text-align:center;}
.greeting_header .greeting  > h2{display:inline-block; padding:20px 0; font-size:32px; color:#494949;}
.greeting_header .greeting  > p{display:inline-block; font-size:12px; color:#6e6e6e;}
.greeting_header .greeting .greet_nav{padding:10px 0 30px;}
.greeting_header .greeting .greet_nav > a{display:inline-block; width:8%; height:30px; background:#e8e8e8; color:black;line-height:30px; font-weight:bold;}
.greeting_header .greeting .greet_nav .active{background:red; color:white;}
.greeting_header .greeting .greet_nav > a:hover{opacity:0.8}

#greeting_section .greet_main{padding:30px 0 30px; border-bottom:1px solid #333;}
#greeting_section .greet_main h3{font-size:32px; color:#494949; display:inline-block;}
#greeting_section .greet_main > p{font-size:12px; color:#494949; display:inline-block;}
#greeting_section .greet_intro{padding:30px 0;}
#greeting_section .greet_intro span{font-size:24px; color:#333;}

#greeting_section .greet_box {height:450px; position:relative;}
#greeting_section .greet_box .greet_img{width:38%; overflow:hidden; background-size:cover; background-repeat:no-repeat; background-position:center; float:left; padding:0 1%;}
#greeting_section .greet_box .greet_img > img{max-width:100%}

#greeting_section .greet_box .greet_txt{font-size:14px; color:#777; width:59%; float:right; padding:0 1%;}
.red{color:#a94442}
.brown{color:#8a6d38}
.font20{font-size:20px;}

#greeting_section .greet_box .greet_sig{position:absolute; bottom:10%; right:5%;
    font-family:"나눔손글씨 펜"; font-size:40px;}
