@charset "utf-8";
@import url(reset.css);
@import url(common.css);

.slide_outer{height:450px; position:relative; overflow:hidden; margin-top:-90px;}
.slide_inner > div{height:450px; background-size:cover; background-position:center; background-repeat:no-repeat; position:relative;}
.slide_inner > div:before{content:""; position:absolute; top:0; left:0; right:0; bottom:0; }
.slide_inner > div:nth-child(1){background-image:url(../images/main_metapo01.jpg); z-index:1;}
.slide_inner > div:nth-child(2){background-image:url(../images/main_metapo02.jpg)}
.slide_inner > div:nth-child(3){background-image:url(../images/main_metapo03.jpg)}
.slide_inner > div > .text{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); text-align:center;
color:white; z-index:9999;}
.slide_inner .text > h3{font-size:40.53px; margin:0 0 15px;}
.slide_inner .text > p{font-size:17.37px; margin-bottom:100px;}

.join_confirm{text-align:center}
.join_confirm > span{font-size:32px; color:#494949; margin:0 0 10px; padding-right:15px; display:inline-block;}
.join_confirm > p{font-size:10px; color:#6e6e6e; margin:0 0 10px; padding-right:15px; display:inline-block;}
.join_confirm .btn{text-align:center; padding:10px; margin:10px;}
.join_confirm .btn input{background:#e8e8e8;  width:130px; height:40px; font-weight:bold; color:rgba(58,58,58,1);
    transition:all 0.5s;}
.join_confirm .btn input:last-child{background:#c10407;  width:130px; height:40px; color:white;}
.join_confirm .btn input:first-child:hover{background:#1f1f1f; color:#fff;}

.w630{width:630px;}