@charset "utf-8";
@import url(reset.css);
@import url(common.css);

body{background:#000}

.join_confirm{text-align:center; border-top:3px double white;; border-bottom:1px dotted white; background:#1f1f1f;}
.join_confirm > span{font-size:32px; color:#fff; padding-right:15px; display:inline-block; margin:50px 0 30px;}
.join_confirm > p{font-size:10px; color:rgba(255,255,255,0.8); margin:0 0 10px; padding-right:15px; display:inline-block;}
.join_confirm .btn{text-align:center; padding:10px; margin:10px 0 50px;}
.join_confirm .btn input{background:#e8e8e8;  width:130px; height:40px; font-weight:bold; color:rgba(58,58,58,1);
    transition:all 0.5s;}
.join_confirm .btn input:last-child{background:#c10407;  width:130px; height:40px; color:white;}
.join_confirm .btn input:first-child:hover{background:#000; color:#fff; border:1px solid white;}

.w630{width:630px;}

.login_page{border-bottom:3px double white; padding-bottom:50px;}
.login_page .loginbox h2{font-size:42px; color:#fff; display:inline-block; padding:0 15px 0 330px;  margin-top:50px;}
.login_page .loginbox > p{font-size:12px; color:rgba(255,255,255,0.8); display:inline-block;}
.login_page .login_form{text-align:center;}
.login_page .login_form p{padding:10px 550px 0 0; display:inline-block; color:white;}
.login_page .login_form input{height:3em; border:1px solid #e9e9e9;
    background:#e8e8e8; margin:5px 0; padding: 0 10px;}
.login_page .login_form .btn > input{margin-bottom:30px; background:#1f1f1f; color:#fff; border:1px solid #fff;}
.login_page .login_form .btn > input:hover{background:#fff; color:#000;}