@charset "utf-8";

@media only screen and (max-width:1230px){
    .h1_nav .nav{
        position:absolute; top:0; right:0%; color:rgba(255,255,255,0.78);width:710px; z-index:9999;
    }
    .footer .footer_menu > ul > li{float:left; width:14.28%; text-align:center;}
    .footer .footer_menu > ul > li > a:before{content:""; padding-right:15px; position:relative; top:-1.5px;}
    .footer .footer_contents > div{float:left; width:33.33%;}
}

@media only screen and (max-width:1024px){
    #header .h1_nav{background:rgba(0,0,0,0.19); position:relative; top:0; right:0; z-index:9999; text-align:center;}
    .h1_nav .nav{
        position:absolute; top:100%; right:0%; color:rgba(255,255,255,0.78); width:100%; z-index:9999; text-align:center; background:rgba(0,0,0,0.19);
    }
    .h1_nav .nav .depth2{position:absolute; top:100%; left:0; width:100%; display:none; transition:all 0.5s; 
    }
    .h1_nav .nav .depth2 > li > a{display:block; background:rgba(0,0,0,0.19); color:#fff; text-align:center;}
        
}


@media only screen and (max-width:767px){
    
    #header .main_menu{background:rgba(0,0,0,0.18);}
    #header .main_menu .login_menu{margin-left:10px}
    #header .main_menu .login_menu > a{display:inline-block; color:#e8e8e8; font-size:14px; font-weight:bold; padding:10px 10px;}
    #header .main_menu .sns_menu > a{color:#e8e8e8; font-size:28px; padding:0 10px }     
    
    .h1_nav .openNav{
        display:block; color:#fff; font-size:30px; position:absolute; right:30px; top:30px;
    }
    
    .h1_nav .nav{
        position:relative; top:0; right:0%; color:rgba(255,255,255,0.78);width:100%; z-index:9999; text-align:center; height:50px; display:block;
    } 
    .h1_nav .nav .depth1 > li{width:19%; height:90px; line-height:50px; text-align:center; position:relative; display:inline-block; transition:all 0.5s;}
    /* .h1_nav .nav .depth1 > li:hover .depth2{display:inline-block;} */
    .h1_nav .nav .depth2{position:absolute; top:50%; left:0; width:100%; border-bottom:3px solid #DE4555; z-index:9999; display:none;
    }

    .h1_nav .closeNav{
        display:none; color:#fff; font-size:30px; position:absolute; right:30px; top:30px;
    }

}