@charset "utf-8";

@media only screen and (max-width:1230px){

}

@media only screen and (max-width:1024px){    
    #section{margin-top:60px;}
    .mainSlideOuter{height:500px; position:relative;}
    .mainSlideInner .slide{
        height:500px; background-size:cover; background-position:center; background-repeat:no-repeat; position:relative;
    }
    .mainSlideInner .slide .text{
        position:absolute; top:50%; left:0%; width:100%; transform:translateY(-50%);
        text-align:center; color:#fff; 
    }
    
    .banner{background:#1f1f1f; color:#fff; text-align:center; padding:20px 0;}
    .banner .bannerContent p{padding:3px 0;}
    .banner .bannerContent p:nth-child(1){font-size:15px;}
    .banner .bannerContent p:nth-child(2){font-size:20px;}
    .banner .bannerContent p:nth-child(3){font-size:15px;}

    .info_box .column{height:200px;}
    .info_box .column .copy{text-align:center; width:100%; height:200px; color:white; position:relative;}
    .info_box .column .overlay h3{font-size:31.5px; padding:0px 0px 0px; line-height:200px; margin-right:150px;}
    .info_box .column .overlay p{padding-bottom:70px; display:none}
    .info_box .column .overlay span{position:absolute; top:0%; left:68.5%; transform:translate(0%); border:none; padding:84px 0px; background:rgba(0,0,0,0.25); width:150px; transition:all 0.5s; height:100%;}
    .info_box .column .overlay_black h3{font-size:31.5px; padding:0px 0px 0px; line-height:200px; margin-right:150px;}
    .info_box .column .overlay_black p{padding-bottom:70px; display:none}
    .info_box .column .overlay_black span{position:absolute; top:0%; left:68.5%; transform:translate(0%); border:none; padding:84px 0px; background:rgba(0,0,0,0.25); width:150px; transition:all 0.5s; height:100%;}

    .slide_banner{height:300px; background:url(../images/banner_bg01.jpg); background-size:cover; background-attachment:fixed; background-position:center; color:white; text-align:center;}
    .slide_banner .banner_wrap{height:300px; background:rgba(0,0,0,0.5)}
    .slide_banner .row > div:nth-child(1){padding-top:  50px; font-size:50.4px;}
    .slide_banner .row > div:nth-child(2){padding:15px 0; font-size:37.8px;}
    .slide_banner .row > div:nth-child(3){font-size:18.9px;}

    .portfolio ul li{padding:1px}
    .portfolio ul li:nth-child(1){float:left; width:100%; height:150px;}
    .portfolio ul li:nth-child(2){float:left; width:33%;}
    .portfolio ul li:nth-child(3){float:left; width:33%;}
    .portfolio ul li:nth-child(4){float:left; width:33%;}
    .portfolio ul li:nth-child(5){float:left; width:100%; height:150px;}
    .portfolio ul li:nth-child(6){float:left; width:0%; display:none;}
    .portfolio ul li:nth-child(7){float:left; width:0%; display:none;}
    .portfolio ul li:nth-child(8){float:left; width:0%; display:none;}
    .portfolio ul li a{position:relative;display:inline-block; background:red;}
    .portfolio > ul > li > a > p{
        color:#1f1f1f; font-size:14px; transition:all 0.5s;
        position:absolute; top:0; left:0; right:0; bottom:0; line-height:150px;
    }
    .portfolio ul li:hover p{background:none; color:white;}
    .portfolio ul li:hover img{opacity:0.8}
    
    /* notice page */
    .noticeTable col:nth-child(1){width:8%;}
    .noticeTable col:nth-child(2){width:auto;}
    .noticeTable col:nth-child(3){width:15%;}
    .noticeTable col:nth-child(4){width:15%;}
    .noticeTable col:nth-child(5){width:0%;}
    .noticeTable tbody td:nth-child(5){display:none;}
        
}


@media only screen and (max-width:767px){
    /* mainpage */
    #section{margin-top:-10px;}
    .mainSlideInner .slide .text span{
        font-size:30px; padding:25px 0 30px;
    }
    .mainSlideInner .slide .text p{
        font-size:20px; margin-bottom:120px;
    }

    .info_box .column .overlay h3{font-size:24px; padding:0px 0px 0px; line-height:200px; margin-right:150px; text-align:center; width:100%;}
    .info_box .column .overlay span{display:none;}
    .info_box .column .overlay_black h3{font-size:24px; padding:0px 0px 0px; line-height:200px; margin-right:150px; text-align:center; width:100%;}
    .info_box .column .overlay_black span{display:none}

    .cs_notice .notice{float:left; width:50%;}
    .cs_notice .notice > a{text-overflow:ellipsis}
    .cs_notice .call_center{float:right; width:50%;}
    .cs_notice .youtube{float:left; width:100%;}

    
    .portfolio ul li{padding:1px}
    .portfolio ul li:nth-child(1){float:left; width:100%; height:100px;}
    .portfolio ul li:nth-child(2){float:left; width:50%; height:200px;}
    .portfolio ul li:nth-child(3){float:left; width:50%; height:200px;}
    .portfolio ul li:nth-child(4){float:left; width:100%; height:100px;}
    .portfolio ul li:nth-child(5){float:left; width:100%; height:150px; display:none;}
    .portfolio ul li:nth-child(6){float:left; width:0%; display:none;}
    .portfolio ul li:nth-child(7){float:left; width:0%; display:none;}
    .portfolio ul li:nth-child(8){float:left; width:0%; display:none;}
    .portfolio ul li p{display:none;}

    /* 상세페이지 slide 사이즈 */
    .slide_outer{height:200px; position:relative;}
    .slide_inner .slide{
        height:200px; background-size:cover; background-position:center; background-repeat:no-repeat; position:relative;
    }
    .slide_inner .slide .text h3{
        font-size:20px; padding:0 0 10px; border-bottom:3px solid #fff;
    }
    .slide_inner .slide .text p{
        font-size:20px; padding:10px 0 0px;
    }
    
    
    /* login page */
    .login_confirm{text-align:center; border-top:3px double white;; border-bottom:1px dotted white; background:#1f1f1f; display:none;}
    .login_page .loginbox h2{font-size:30px; color:#fff; display:block; padding:0px auto;  margin-top:50px; display:none;}
    .login_page .loginbox > p{font-size:12px; color:rgba(255,255,255,0.8); display:block; display:none;}
    .login_page .login_form p{padding:30px 0px; display:inline-block; color:white; text-align:left;}
    .w630{width:80%;}


    /* join page */
    .join2_form .info_pilsoo{padding-left:55px; padding-bottom:10px; border-bottom:1px solid #000; font-size:15px; color:#f00;}
    .join2_form .pilsoo_item:before {content:"※"; position:absolute; left:5%; top:-2px; width:15px; font-weight:bold; font-size:17px; color:#f00;}
    .join2_form .tit_lbl{display:inline-block; width:20%; line-height:45px; font-weight:bold; font-size:17px; letter-spacing: -2px; padding-left:25px;}
    .join2_form .info_content{display:block; width:95%; margin:0 auto;}
    .join2_form .w100p{width:100%;}
    .join2_form .w30p{width:40%;}
    .join2_form #addr1 ~ span{display:none;}
    






    /* notice page */
    .noticeTable col:nth-child(1){width:8%;}
    .noticeTable col:nth-child(2){width:auto;}
    .noticeTable col:nth-child(3){width:15%;}
    .noticeTable col:nth-child(4){width:0%;}
    .noticeTable col:nth-child(5){width:0%;}
    .noticeTable tbody td:nth-child(4){display:none;}
    .noticeTable tbody td:nth-child(5){display:none;}

}