@charset "utf-8";

@media only screen and (max-width:1230px){
    .h1_nav .nav{
        position:absolute; top:0; right:0%; color:rgba(255,255,255,0.78);width:710px; z-index:9999;
    }
    .footer .footer_menu > ul > li{float:left; width:14.28%; text-align:center;}
    .footer .footer_menu > ul > li > a:before{content:""; padding-right:15px; position:relative; top:-1.5px;}
    .footer .footer_contents > div{float:left; width:33.33%;}
}

@media only screen and (max-width:1024px){
    #header .h1_nav{background:rgba(0,0,0,0.19); position:relative; top:0; right:0; z-index:9999; text-align:center;}
    .h1_nav .nav{
        position:absolute; top:100%; right:0%; color:rgba(255,255,255,0.78); width:100%; z-index:9999; text-align:center; background:rgba(0,0,0,0.19);
    }
    .h1_nav .nav .depth2{position:absolute; top:100%; left:0; width:100%; display:none; transition:all 0.5s; 
    }
    .h1_nav .nav .depth2 > li > a{display:block; background:rgba(0,0,0,0.19); color:#fff; text-align:center;}
        
}


@media only screen and (max-width:767px){
    
    #header .main_menu{background:rgba(0,0,0,0.18);}
    #header .main_menu .login_menu{margin-left:10px}
    #header .main_menu .login_menu > a{display:inline-block; color:#e8e8e8; font-size:14px; font-weight:bold; padding:10px 10px;}
    #header .main_menu .sns_menu > a{color:#e8e8e8; font-size:28px; padding:0 10px }     
    
    .h1_nav .openNav{
        display:block; color:#fff; font-size:30px; position:absolute; right:30px; top:30px;
    }
    
    .h1_nav .nav{
        position:relative; top:0; right:0%; color:rgba(255,255,255,0.78);width:100%; z-index:9999; text-align:center; height:50px; display:block;
    } 
    .h1_nav .nav .depth1 > li{width:19%; height:90px; line-height:50px; text-align:center; position:relative; display:inline-block; transition:all 0.5s;}
    /* .h1_nav .nav .depth1 > li:hover .depth2{display:inline-block;} */
    .h1_nav .nav .depth2{position:absolute; top:50%; left:0; width:100%; border-bottom:3px solid #DE4555; z-index:9999; display:none;
    }

    .h1_nav .closeNav{
        display:none; color:#fff; font-size:30px; position:absolute; right:30px; top:30px;
    }

    /* 상세페이지 slide 사이즈 */
    .slide_outer{height:200px; position:relative;}
    .slide_inner .slide{
        height:200px; background-size:cover; background-position:center; background-repeat:no-repeat; position:relative;
    }
    .slide_inner .slide .text h3{
        font-size:20px; padding:0 0 10px; border-bottom:3px solid #fff;
    }
    .slide_inner .slide .text p{
        font-size:20px; padding:10px 0 0px;
    }
    
    
    /* login page */
    .login_confirm{text-align:center; border-top:3px double white;; border-bottom:1px dotted white; background:#1f1f1f; display:none;}
    .login_page .loginbox h2{font-size:30px; color:#fff; display:block; padding:0px auto;  margin-top:50px; display:none;}
    .login_page .loginbox > p{font-size:12px; color:rgba(255,255,255,0.8); display:block; display:none;}
    .login_page .login_form p{padding:30px 0px; display:inline-block; color:white; text-align:left;}
    .w630{width:80%;}


    /* join page */
    .join2_form .pilsoo_item:before {content:"※"; position:absolute; left:5%; top:-2px; width:15px; font-weight:bold; font-size:17px; color:#f00;}
    .join2_form .tit_lbl{display:inline-block; width:20%; line-height:45px; font-weight:bold; font-size:17px; letter-spacing: -2px; padding-left:25px;}
    .join2_form .info_content{display:block; width:100%;}
    .join2_form .w100p{width:100%;}
    .join2_form .w30p{width:40%;}
    .join2_form #addr1 ~ span{display:none;}
    

}