@charset "utf-8";

body{background:black}
/*공통구역을 제외한 메인페이지 스타일*/

/* mainpage style */
#section{margin-top:-90px;}

.mainSlideOuter{height:1016px; position:relative;}
.mainSlideInner .slide{
    height:1016px; background-size:cover; background-position:center; background-repeat:no-repeat; position:relative;
}
.mainSlideInner .slide:before{
    content:''; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.3)
}
.mainSlideInner .slide1{background-image:url(../images/main_metapo01.jpg)}
.mainSlideInner .slide2{background-image:url(../images/main_metapo02.jpg)}
.mainSlideInner .slide3{background-image:url(../images/main_metapo03.jpg)}

.mainSlideInner .slide .text{
    position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
    text-align:center; color:#fff; 
}
.mainSlideInner .slide .text  h3{
    font-size:80px; padding:0 0 20px; border-bottom:3px solid #fff;
}
.mainSlideInner .slide .text span{
    font-size:40px; padding:25px 0 30px;
}
.mainSlideInner .slide .text p{
    font-size:25px; margin-bottom:120px;
}
/* 화살표 및 도트버튼 */
.mainSlideOuter .marrow{position:absolute; top:50%; transform:translateY(-50%); font-size:50px; color:rgba(255,255,255,0.8); background:none; border:none; opacity:0.5; transition:all 0.5s;}
.mainSlideOuter .marrow:hover{opacity:1;}
.mainSlideOuter .prevArrow{left:100px; z-index:99999;}
.mainSlideOuter .nextArrow{right:100px;}

/* slick 도트 버튼 */
.mainSlideOuter .slick-dots{
    position:absolute; bottom:30px; text-align:center; width:100%;
}
.mainSlideOuter .slick-dots li{
    display:inline-block; margin:0 5px;
}
.mainSlideOuter .slick-dots li button{
    width:30px; height:10px; border-radius:5px; background:rgba(255,255,255,0.3); border:none; color:transparent;
}
.mainSlideOuter .slick-dots li.slick-active button{
    width:50px; background:rgba(255,255,255,0.8);
}

.mainSlideOuter .slide.slick-active{
    animation:zoomOutMain 3s both;
}

/*  */
@-webkit-keyframes zoomOutMain {
    from {
      opacity: 1;
      -webkit-transform: scale3d(1.1,1.1,1.1);
      transform: scale3d(1.1,1.1,1.1);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1);
    }
  }
  @keyframes zoomOutMain {
    from {
      opacity: 1;
      -webkit-transform: scale3d(1.1,1.1,1.1);
      transform: scale3d(1.1,1.1,1.1);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1);
    }
  }
  .animate__zoomOutMain {
    -webkit-animation-name: zoomOutMain;
    animation-name: zoomOutMain;
  }


/* article2 - banner */
.banner{background:#1f1f1f; color:#fff; text-align:center; padding:40px 0;}
.banner .bannerContent p{padding:10px;}
.banner .bannerContent p:nth-child(1){font-size:20px;}
.banner .bannerContent p:nth-child(2){font-size:25.2px;}
.banner .bannerContent p:nth-child(2) span{color:#8a6d3b}
.banner .bannerContent p:nth-child(3){font-size:14px;}
.banner .bannerContent strong{color:red; font-weight:bold;}



/* article3 - introduce */
.info_box{padding:60px 15px;}
.info_box .column{width:48%; overflow:hidden; position:relative; float:left; margin:1%;}
.info_box .column > a{position:relative;}
.info_box .column:hover .overlay{background:rgba(0,0,0,0.5)}
.info_box .column > img{background-size:cover; background-position:center; background-repeat:no-repeat;}
.info_box .column .overlay{position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0); transition:all 0.5s;}
.info_box .column .copy{text-align:center; width:300px; height:300px; color:white;position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); overflow:hidden;}
.info_box .column .overlay h3{font-size:31.5px; padding:40px 0 5px;}
.info_box .column .overlay p{padding-bottom:70px;}
.info_box .column .overlay span{position:absolute; top:70%; left:50%; transform:translate(-50%);
    border:2px solid #fff; padding:5px 15px; background:rgba(0,0,0,0.25); width:150px; transition:all 0.5s;}
.info_box .column .overlay span:hover{background:rgba(255,255,255,0.45);}

.info_box .column:hover .overlay_black{background:rgba(0,0,0,0.5)}
.info_box .column .overlay_black{position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,1); transition:all 0.5s;}
.info_box .column .overlay_black h3{font-size:31.5px; padding:40px 0 5px;}
.info_box .column .overlay_black p{padding-bottom:70px;}
.info_box .column .overlay_black span{position:absolute; top:70%; left:50%; transform:translate(-50%);
    border:2px solid #fff; padding:5px 15px; background:rgba(0,0,0,0.25); width:150px; transition:all 0.5s;}
.info_box .column .overlay_black span:hover{background:rgba(255,255,255,0.45);}


/* article4 - slide_banner */
.slide_banner{height:500px; background:url(../images/banner_bg01.jpg); background-size:cover; background-attachment:fixed; background-position:center; color:white; text-align:center;}
.slide_banner .banner_wrap{height:500px; background:rgba(0,0,0,0.5)}
.slide_banner .row > div:nth-child(1){padding-top:150px; font-size:50.4px;}
.slide_banner .row > div:nth-child(2){padding:15px 0; font-size:37.8px;}
.slide_banner .row > div:nth-child(3){font-size:18.9px;}


/* article5 - cs_notice */
.cs_notice{padding:60px 0;}
.cs_notice .notice, .cs_notice .call_center, .cs_notice .youtube{float:left; width:33.33%;}
.cs_notice .notice{position:relative;}
.cs_notice .notice > h3{font-size:22px; color:white;  padding: 0 5px 20px 10px; display:inline-block;}
.cs_notice .notice > p{font-size:14px; color:#a80632; font-weight:bold; display:inline-block;}
.cs_notice .notice .button{border:1px solid #707070; position:absolute; top:0; right:15px; padding:1px 5px; background:#707070; color:#fff; font-size:12px;}
.cs_notice .notice .button:hover{background:#000; color:#fff;}
.cs_notice .notice ul{list-style:square; padding-left:20px; color:white; font-size:1px;}
.cs_notice .notice ul li > a{font-size:14px; padding-left:-1em; display:inline-block; padding:5px 0;}
.cs_notice .notice ul li:hover a{color:#a80632;}
.cs_notice .call_center{padding-left:25px; line-height:1.8em;}
.cs_notice .call_center > h3{font-size:22px; color:white;}
.cs_notice .call_center p{font-size:14px; color:white;}
.cs_notice .call_center > div{font-size:20px; color:#a80632; padding:10px 0; display:block;}
.cs_notice .youtube iframe{width: 100%;}


/* article6 - portfolio */
.portfolio{padding:20px 0 40px;}
.portfolio h2{text-align:center; font-size:38px; color:#fff;}
.portfolio > p{text-align:center;}
.portfolio .under_bar{width:50px; height:3px;  margin:15px auto 45px; background:#1f1f1f}
.portfolio ul li{float:left; width:25%; padding:5px 5px; }
.portfolio ul li a{display:block; text-align:center;}
.portfolio ul li img{width:100%; transition:all 0.5s;}
.portfolio ul li p{color:#434343; font-size:14px; padding:5px 0; margin:5px 0; transition:all 0.5s;}
.portfolio .overlay{background:rgba(0,0,0,1); z-index:9999;}
.portfolio ul li:hover p{background:#c7162d; color:white;}
.portfolio ul li:hover img{opacity:0.7}

.loadAni{position:fixed; top:0; left:0; right:0; bottom:0; background:white; z-index:99999; font-size:50px;}
.loadAni i{position:absolute; top:40%; transform:translateY(-50%); width:100%; text-align:center;}


/* 상세페이지 슬라이더구역 */
.slide_outer{height:500px; position:relative;}
.slide_inner .slide{
    height:500px; background-size:cover; background-position:center; background-repeat:no-repeat; position:relative;
}
.slide_inner .slide:before{
    content:''; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.3)
}
.slide_inner .slide1{background-image:url(../images/main_metapo01.jpg)}
.slide_inner .slide2{background-image:url(../images/main_metapo02.jpg)}
.slide_inner .slide3{background-image:url(../images/main_metapo03.jpg)}

.slide_inner .slide .text{
    position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
    text-align:center; color:#fff; 
}
.slide_inner .slide .text h3{
    font-size:30px; padding:0 0 20px; border-bottom:3px solid #fff;
}
.slide_inner .slide .text p{
    font-size:30px; padding:25px 0 30px;
}



/* login style */

.login_confirm{text-align:center; border-top:3px double white;; border-bottom:1px dotted white; background:#1f1f1f;}
.login_confirm > span{font-size:32px; color:#fff; padding-right:15px; display:inline-block; margin:50px 0 30px;}
.login_confirm > p{font-size:10px; color:rgba(255,255,255,0.8); margin:0 0 10px; padding-right:15px; display:inline-block;}
.login_confirm .btn{text-align:center; padding:10px; margin:10px 0 50px;}
.login_confirm .btn input{background:#e8e8e8;  width:130px; height:40px; font-weight:bold; color:rgba(58,58,58,1);
    transition:all 0.5s;}
.login_confirm .btn input:last-child{background:#c10407;  width:130px; height:40px; color:white;}
.login_confirm .btn input:first-child:hover{background:#000; color:#fff; border:1px solid white;}

.w630{width:630px;}

.login_page{border-bottom:3px double white; padding-bottom:50px;}
.login_page .loginbox h2{font-size:42px; color:#fff; display:inline-block; padding:0 15px 0 330px;  margin-top:50px;}
.login_page .loginbox > p{font-size:12px; color:rgba(255,255,255,0.8); display:inline-block;}
.login_page .login_form{text-align:center;}
.login_page .login_form p{padding:10px 550px 0 0; display:inline-block; color:white;}
.login_page .login_form input{height:3em; border:1px solid #e9e9e9;
    background:#e8e8e8; margin:5px 0; padding: 0 10px;}
.login_page .login_form .btn > input{margin-bottom:30px; background:#c10407; color:#fff; border:1px solid #fff;}
.login_page .login_form .btn > input:hover{background:#fff; color:#000;}




/* join1 style */

.join_page{background:white;}
.join_confirm{text-align:center;}
.join_confirm > span{font-size:32px; color:#494949; margin:0 0 10px; padding-right:15px; display:inline-block;  margin:30px 0;}
.join_confirm > p{font-size:10px; color:#6e6e6e; margin:0 0 10px; padding-right:15px; display:inline-block;}
.join_confirm .btn{text-align:center; padding:10px; margin:10px;}
.join_confirm .btn input{background:#e8e8e8;  width:130px; height:40px; font-weight:bold; color:rgba(58,58,58,1);
    transition:all 0.5s;}
.join_confirm .btn input:last-child{background:#c10407;  width:130px; height:40px; color:white;}
.join_confirm .btn input:last-child:hover{background:white; color:#c10407;}
.join_confirm .btn input:first-child:hover{background:#1f1f1f; color:#fff;}

.w630{width:630px;}

.join_page .joinbox h2{font-size:42px; color:#494949; display:inline-block; padding:0 15px 35px 330px;  margin-top:30px;}
.join_page .joinbox > p{font-size:12px; color:#494949; display:inline-block;}
.join_page .join_form{text-align:center;}
.join_page .join_form p{padding:10px 420px 10px 0; display:inline-block;}
.join_page .join_form input{height:3em; border:1px solid #e9e9e9;
    background:#e8e8e8; margin:5px 0; padding: 0 10px;}
.join_page .join_form .btn{margin-bottom:30px;}




/* join2 style */

::placeholder{color:black; font-style:italic; font-size:13px;}
.join_row{max-width:900px; margin:0 auto;}

#join2_page{padding:50px 0; background:white}
#join2_page .join2_box h2{text-align:center; font-size:30px; padding-bottom:30px;}
.join2_form .info_pilsoo{padding-left:20px; padding-bottom:10px; border-bottom:1px solid #000; font-size:15px; color:#f00;}
.join2_form .pilsoo_item{position:relative;}
.join2_form .pilsoo_item:before {content:"※"; position:absolute; left:1.5px; top:-2px; width:15px; font-weight:bold; font-size:17px; color:#f00;}
.join2_form .info_list {padding:10px 0; border-bottom:1px solid #ccc;}
.join2_form .info_list li{padding:10px 0;}
.join2_form .tit_lbl{display:inline-block; width:20%; line-height:45px; font-weight:bold; font-size:17px; letter-spacing: -2px; padding-left:20px;}
.join2_form .info_content{display:inline-block; width:79%; vertical-align:top;}
.join2_form .info_content input[type=text],
.join2_form .info_content input[type=password],
.join2_form .info_content input[type=date],
.join2_form .info_content select{height:45px; border:1px solid #ccc; padding:0 1em; vertical-align:top; border-radius:5px;}
.join2_form .w100p{width:100%;}
.join2_form .w85p{width:85%;}
.join2_form .w30p{width:30%;}
.join2_form .addr_box span {line-height:45px;}
.join2_form .mb3 {margin:0px 0 5px;}
.join2_form .info_content button{height:45px; width:80px; border:1px solid #ccc; border-radius:5px;}
.join2_form .info_content button:hover{background:#000; color:#fff;}
.join2_form .gender_area label,
.join2_form .pizza_area label{line-height:45px; padding-right:15px;}

/* textarea는 글꼴 관련 스타일을 상위태그에서 상속받지 못함 */
.join2_form .info_content textarea {
    height: 245px; width:100%;
    border:1px solid #ccc; 
    font-size: 15px; letter-spacing: -1px;
    color: #444; padding: 10px; line-height: 1.5;
    resize:none; }
.join2_form .btn { margin-top:20px; text-align:center }    
.join2_form .btn input { width:80px; height:40px; 
    background:#000; color:#fff; 
    border:none; border-radius:5px; 
    font-size:18px; margin:0 20px }
.join2_form .btn input[type=submit] {
    background:red }


/* greeting style */

.greeting_header{background:#000; color:#fff; padding:15px;}
.greeting_header .greeting_map{text-align:right; padding:10px 0;}
.greeting_header .greeting_map > span{font-size:13px;}
.greeting_header .greeting{text-align:center;}
.greeting_header .greeting  > h2{display:inline-block; padding:20px 0; font-size:32px; color:#494949;}
.greeting_header .greeting  > p{display:inline-block; font-size:12px; color:#6e6e6e;}
.greeting_header .greeting .greet_nav{padding:10px 0 30px;}
.greeting_header .greeting .greet_nav > a{display:inline-block; width:8%; height:30px; background:#e8e8e8; color:black;line-height:30px; font-weight:bold;}
.greeting_header .greeting .greet_nav .active{background:red; color:white;}
.greeting_header .greeting .greet_nav > a:hover{opacity:0.8}

#greeting_section{background:white;}
#greeting_section .greet_main{padding:30px 0 30px; border-bottom:1px solid #333;}
#greeting_section .greet_main h3{font-size:32px; color:#494949; display:inline-block;}
#greeting_section .greet_main > p{font-size:12px; color:#494949; display:inline-block;}
#greeting_section .greet_intro{padding:30px 0;}
#greeting_section .greet_intro span{font-size:24px; color:#333;}

#greeting_section .greet_box {height:450px; position:relative;}
#greeting_section .greet_box .greet_img{width:38%; overflow:hidden; background-size:cover; background-repeat:no-repeat; background-position:center; float:left; padding:0 1%;}
#greeting_section .greet_box .greet_img > img{max-width:100%; animation:fadeInLeft 3s both;}
@keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

#greeting_section .greet_box .greet_txt{font-size:14px; color:#777; width:59%; float:right; padding:0 1%;}
.red{color:#a94442}
.brown{color:#8a6d38}
.font20{font-size:20px;}

#greeting_section .greet_box .greet_sig{position:absolute; bottom:10%; right:5%;
    font-family:"나눔손글씨 펜"; font-size:40px;}
    


/* business style */

.business_header{background:#000; color:#fff; padding:15px;}
.business_header .business_map{text-align:right; padding:10px 0;}
.business_header .business_map > span{font-size:13px;}
.business_header .business{text-align:center;}
.business_header .business  > h2{display:inline-block; padding:20px 0; font-size:32px; color:#494949;}
.business_header .business  > p{display:inline-block; font-size:12px; color:#6e6e6e;}
.business_header .business .business_nav{padding:10px 0 30px;}
.business_header .business .business_nav > a{display:inline-block; width:8%; height:30px; background:#e8e8e8; color:black;line-height:30px; font-weight:bold;}
.business_header .business .business_nav .active{background:red; color:white;}
.business_header .business .business_nav > a:hover{opacity:0.8}

#business_section{padding:30px 0 30px; background:white}
#business_section .business_main{border-bottom:1px solid #333;}
#business_section .business_main h3{font-size:32px; color:#494949; display:inline-block;}
#business_section .business_main > p{font-size:12px; color:#494949; display:inline-block;}
#business_section .business_intro{padding:20px; margin:10px 0; background:#f9f9f9;}
#business_section .business_intro span{font-size:20px; color:#333;}
#business_section .business_intro2{margin:15px 0;}
#business_section .business_intro2 > p{color:#777; font-size:14px;}
#business_section .imgbox img{animation:fadeInLeft 3s both}
@keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

#business_section .biz_content{border:1px solid #ddd; border-radius:5px; margin:20px 0; box-shadow:3px 3px 3px #f5f5f5;}
#business_section .biz_content h3{font-size:24px; color:#333; background:#f5f5f5; padding:10px 15px;
    border-bottom:1px solid #ddd;}
#business_section .biz_content > p{font-size:20px; color:#777; padding:27px 15px 27px 15px;}
#business_section .biz_content ul li{border-top:1px solid #ddd; padding:10px 15px;}
#business_section .biz_content ul li > h4{font-size:21px; color:#a94442;}
#business_section .biz_content ul li > p{font-size:17.85px; color:#333;}




/* product style */

.product_header{background:#000; color:#fff; padding:15px;}
.product_header .product_map{text-align:right; padding:10px 0;}
.product_header .product_map > span{font-size:13px;}
.product_header .product{text-align:center;}
.product_header .product  > h2{display:inline-block; padding:20px 0; font-size:32px; color:#494949;}
.product_header .product  > p{display:inline-block; font-size:12px; color:#6e6e6e;}
.product_header .product .product_nav{padding:10px 0 30px;}
.product_header .product .product_nav > a{display:inline-block; width:8%; height:30px; background:#e8e8e8; color:black;line-height:30px; font-weight:bold;}
.product_header .product .product_nav .active{background:red; color:white;}
.product_header .product .product_nav > a:hover{opacity:0.8}

#product_section{background:white}
#product_section .product_head{padding:25px 0; border-bottom:1px solid #494949;}
#product_section .product_head h3{font-size:32px; color:#494949; display:inline-block;}
#product_section .product_head > p{font-size:12px; color:#494949; display:inline-block;}
#product_section .product_intro > p{font-size:15px; color:#333; padding:14px; margin:15px 0; background:#f9f9f9; border-radius:5px;}

#product_section .product_box{padding-bottom:30px;}
#product_section .product_box li{float:left; width:25%; padding:8px;}
#product_section .product_box li > a{text-align:center; position:relative;}
#product_section .product_box li > a > img{max-width:100%}
#product_section .product_box .overlay{padding:0px 0; position:absolute; top:0; left:0; right:0; bottom:0;
    background:rgba(0,0,0,0.8); width:309px; height:206px; margin:auto 0; line-height:210px;
    font-size:30px; color:#ddd; font-weight:bold; transition:all 0.5s;}
#product_section .product_box .overlay:hover{background:rgba(255,255,255,0.2); color:white;}



/* contact style */
.contact_w30p{width:30%; display:inline-block; border:1px solid #999;  border-radius:5px; margin:0 2px;}
.contact_w80{width:80px; display:inline-block; border-bottom:1px solid #000;  margin:0 1em;}

.contact_header{background:#000; color:#fff; padding:15px;}
.contact_header .contact_map{text-align:right; padding:10px 0;}
.contact_header .contact_map > span{font-size:13px;}
.contact_header .contact{text-align:center; color:white;}
.contact_header .contact  > h2{display:inline-block; padding:20px 0; font-size:32px;}
.contact_header .contact  > p{display:inline-block; font-size:12px;}
.contact_header .contact .contact_nav > a{display:inline-block; width:10%; height:30px; background:#e8e8e8; color:black; line-height:30px; font-weight:bold;}
.contact_header .contact .contact_nav .active{background:red; color:white;}
.contact_header .contact .contact_nav > a:hover{opacity:0.8}

#contact_section{padding:15px; background:white}
#contact_section table{border:none;}
#contact_section .contact_tit{width:20%; text-align:center; font-size:14px; color:#494949; padding:13px 8px;
     background:#e9e9e9}
#contact_section input{width:100%; padding:8px;}
#contact_section  select{padding:6.5px 8px; vertical-align:top; font-weight:bold;}
#contact_section  textarea{width:100%; height:200px; padding:15px 1em; border:none; resize:none;}

#contact_section  .txt_area > textarea{padding: 20px; height:200px;}

#contact_section .btn{text-align:center; padding:30px 0;}
#contact_section .btn input{width:100px; height:50px; font-weight:bold; border-radius:5px;}
#contact_section .btn input[type=submit]{background:#000; color:#fff;}
#contact_section .btn input[type=submit]:hover{background:red; color:#eee;}
#contact_section .btn input[type=reset]:hover{background:#fff; color:#000;}



/* notice style */
.noticePage h2{text-align:center; font-size:25px; margin:50px 0 50px; color:white;}
.sbox{text-align:center; margin-bottom:20px; text-align:right}
.sbox select{height:30px; vertical-align:middle;}
.sbox input[type=text]{height:30px; width:300px; text-indent:1em; vertical-align:middle;}
.sbox input[type=submit]{height:30px; background:#ddd; padding:0 8px; border-radius:5px; vertical-align:middle;}

/* .noticeTable td{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;} */

.noticeTable col:nth-child(1){width:8%;}
.noticeTable col:nth-child(2){width:auto;}
.noticeTable col:nth-child(3){width:13%;}
.noticeTable col:nth-child(4){width:13%;}
.noticeTable col:nth-child(5){width:8%;}
.noticeTable table{border:none; font-size:14px;}
.noticeTable th, .noticeTable td{border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:10px 5px;}
.noticeTable th{background:#f2f2f2; border-bottom:1px solid #333;}
.noticeTable tbody tr{color:white}
.noticeTable tbody tr:hover {background:#ddd; color:green; font-weight:bold;}
.noticeTable tbody td:nth-child(1), 
.noticeTable tbody td:nth-child(3),
.noticeTable tbody td:nth-child(4),
.noticeTable tbody td:nth-child(5){text-align:center}
.noticePage .numlist{text-align:center; margin:20px 0; font-size:16px}
.noticePage .numlist span{background:#ddd; padding:5px 8px; display:inline-block;}
.noticePage .numlist a{padding:5px; display:inline-block; color:white}
.noticePage .numlist a:hover{background:#ddd;}
.noticePage .numlist a.on{background:#ddd; color:black}