@charset "utf-8";
@import url(reset.css);
@import url(common.css);


.product_header{background:#000; color:#fff; padding:15px;}
.product_header .product_map{text-align:right; padding:10px 0;}
.product_header .product_map > span{font-size:13px;}
.product_header .product{text-align:center;}
.product_header .product  > h2{display:inline-block; padding:20px 0; font-size:32px; color:#494949;}
.product_header .product  > p{display:inline-block; font-size:12px; color:#6e6e6e;}
.product_header .product .product_nav{padding:10px 0 30px;}
.product_header .product .product_nav > a{display:inline-block; width:8%; height:30px; background:#e8e8e8; color:black;line-height:30px; font-weight:bold;}
.product_header .product .product_nav .active{background:red; color:white;}
.product_header .product .product_nav > a:hover{opacity:0.8}

#product_section .product_head{padding:25px 0; border-bottom:1px solid #494949;}
#product_section .product_head h3{font-size:32px; color:#494949; display:inline-block;}
#product_section .product_head > p{font-size:12px; color:#494949; display:inline-block;}
#product_section .product_intro > p{font-size:15px; color:#333; padding:14px; margin:15px 0; background:#f9f9f9; border-radius:5px;}

#product_section .product_box{padding-bottom:30px;}
#product_section .product_box li{float:left; width:25%; padding:8px;}
#product_section .product_box li > a{text-align:center; position:relative;}
#product_section .product_box li > a > img{max-width:100%}
#product_section .product_box .overlay{padding:0px 0; position:absolute; top:0; left:0; right:0; bottom:0;
    background:rgba(0,0,0,0.8); width:309px; height:206px; margin:auto 0; line-height:210px;
    font-size:30px; color:#ddd; font-weight:bold; transition:all 0.5s;}
#product_section .product_box .overlay:hover{background:rgba(255,255,255,0.2); color:black;}